<p *ngIf="loginStatus">Logged in as: {{userEmail}}</p>
<a *ngIf="loginStatus" (click)="logout()">Logout</a>


<form *ngIf="!loginStatus" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="name">email</label>
    <input type="email" id="email" [(ngModel)]="login.email" name="email" required>

    <label for="alterEgo">password</label>
    <input type="password" id="password" name="password" [(ngModel)]="login.password" required>

    <button type="submit" class="button" [disabled]="!loginForm.form.valid">Submit</button>

  </form>
