<p *ngIf="loginStatus">Logged in as: {{userEmail}}</p>
<a *ngIf="loginStatus" (click)="logout()">Logout</a>


<form *ngIf="!loginStatus" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="loginEmail">email</label>
    <input type="loginEmail" id="loginEmail" [(ngModel)]="login.loginEmail" name="loginEmail" required>

    <label for="alterEgo">password</label>
    <input type="loginPassword" id="loginPassword" name="loginPassword" [(ngModel)]="login.loginPassword" required>

    <button type="submit" class="button" [disabled]="!loginForm.form.valid">Submit</button>

  </form>
