{{diagnostic}}

<div *ngIf="!ok2book" class="alert-box warning">Booking conflict</div>

<form (ngSubmit)="onSubmit()" #bookingForm="ngForm">

<!--type-->
  <label for="type">Type</label>
  <select name="type" [(ngModel)]="booking.type" required>
      <!--need to set type on model-->
      <option *ngFor="let type of types" [selected]="Paid" [value]="type">  
        {{type}}
      </option>
  </select>

<!--date ranges-->
  <label for="fromDate">fromDate</label>
  <input type="date" name="fromDate" id="fromDate" (change)="updateRange('from')" [(ngModel)]="booking.fromDate" required>
  <label for="toDate">toDate</label>
  <input type="date" name="toDate" id="toDate" (change)="updateRange('to')" [(ngModel)]="booking.toDate" required>

<!--days-->
  <label for="days">Days</label>
  <div *ngFor="let date of booking.dates">
    {{date.date}}

    <!--new-->
    <!--<select *ngIf="true" name="days" [(ngModel)]="date.slot" required>
        <option *ngFor="let length of lengthsObj">{{length.slot}}</option>
    </select>-->

    <!--edit-->
    <select name="days" [(ngModel)]="date.slot" required>
        <option *ngFor="let length of lengthsObj" [ngValue]="length.slot">{{length.slot}}</option>
    </select>

  </div>

  <button type="submit" class="button" [disabled]="!bookingForm.form.valid || !ok2book">Submit</button>
</form>

{{message}}




<!--<p>from: {{booking.fromDate}}</p>
<p>to: {{booking.toDate}}</p>
<p>days: {{booking.daysTaken}}</p>
<p>dates: {{dates | json}}</p>-->


<!--<h3>Choose Type</h3>
<h3>Choose fromDate</h3>
<h3>Choose Details</h3>
<h3>Comment</h3>-->