<!--<a (click)="newUser()">New user</a>-->
<!--<ul>
    <li>Username: {{ (user | async)?.firstname }}</li>
    <li>Surname: {{ (user | async)?.surname }}</li>
</ul>-->

<!--<ul [hidden]="form">
    <li>Username: {{ user.firstname }} : </li>
    <li>Surname: {{ user.surname }}</li>
</ul>-->
<!--<button [hidden]="form" class="button" (click)="editUser(); form = true">Edit</button>-->

{{diagnostic}}
<form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" [(ngModel)]="user.firstname" name="firstname" required #spy>
    <!--{{spy.firstname}} {{spy.className}}-->

    <label for="surname">Surname</label>
    <input type="text" id="surname" name="surname" [(ngModel)]="user.surname" required>

    <div *ngIf="newUser">

        <label for="email">email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>

        <label for="password2">Retype Password</label>
        <input type="password" id="password2" name="password2" [(ngModel)]="user.password2" required>
        <p class="alert-box alert">{{message}}</p>

    </div>

    <div *ngIf="!newUser"></div>

    <!--i hate selects in angular 2 -->
    <label for="type">Part Time / Full Time</label>
    <select name="type" [(ngModel)]="user.type" required>
        <option *ngFor="let type of types" [value]="type" [disabled]="type == 'select an option'" >{{type}}</option>
    </select>

    <label for="xhol">Extra holiday</label>
    <input type="number" id="xhol" name="xhol" [(ngModel)]="user.xhol">

    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" name="startDate" [(ngModel)]="user.startDate" required>


    <label for="birthday">Birthday</label>
    <input type="date" id="birthday" name="birthday" [(ngModel)]="user.birthday">
        

    <label for="manager">Manager</label>
    <input type="checkbox" id="manager" name="manager" [(ngModel)]="user.manager">

    <br>

    <button *ngIf="newUser" type="submit" class="button" [disabled]="!userForm.form.valid">
        <span>Submit</span>
    </button>

    <button type="button" class="button" (click)="reset()">Reset</button>
</form>

<button *ngIf="!newUser" class="button" [disabled]="!userForm.form.valid" (click)="updateUser()">Update</button>